Package: afs-connexion
Version: 1.0
Section: base
Priority: optional
Architecture: all
Maintainer: Lucas (https://github.com/PixPix20)
Depends: krb5-user, sshfs, whiptail
Description: Script pour se (re)connecter à son AFS.
