[Desktop Entry]
Name=AFS Connection
Name[fr]=Connexion AFS
Comment=Connect to your EPITA AFS account
Comment[fr]=Permet de se connecter à son AFS d'EPITA
Exec=/usr/bin/afs_connexion.sh
Icon=/usr/share/icons/afs/logo
Terminal=true
StartupNotify=false
Type=Application
Categories=Utility;
