[Desktop Entry]
Name=AFS Connexion
Comment=Connexion automatique à l'AFS
Exec=/usr/bin/afs_connexion.sh
Icon=/usr/share/icons/afs/logo.png
Terminal=true
StartupNotify=false
Type=Application
Categories=Utility;
